@using Core.ViewModels.Tournament
@using Core.ViewModels.Team
@model TournamentDetailsModel

@{
    ViewData["Title"] = "Details";
    IEnumerable<ListTeamModel> teams = ViewBag.Teams;
}
<link rel="stylesheet" href="~/css/tournament-details.css" asp-append-version="true" />

<div class="container">
    <h1 class="text-center">@Model.Name</h1>
    @if (ViewBag.Winner != null)
    {
        <div class="clarify-div text-center">Winner</div>
        <div class="text-center team-name align-middle mb-3">@ViewBag.Winner.Name</div>
    }
    <div class="clarify-div text-center">Fixtures</div>
    <div class="container">


        @if (!Model.IsScheduled && Model.IsActive)
        {
            <a class="d-flex justify-content-center" asp-action="Schedule" asp-route-id=@Model.Id>
                <button id="schedule" class="play-button">Schedule</button>
            </a>
        }
        else if(!Model.IsActive)
        {
                   <div class="text-center team-name align-middle mb-3">None</div>
        }
        else
        {
            @foreach (var f in ViewBag.Fixtures)
            {
                ListTeamModel home = teams.First(t => t.Id == f.HomeTeamId);
                ListTeamModel away = teams.First(t => t.Id == f.AwayTeamId);

                <div class="row match-div" style="padding-top: 1rem">
                    <div class="col-2">
                        <div class="logo-wrapper">
                            <img src=@home.LogoUrl />
                        </div>
                    </div>
                    <div class="col-3 text-center team-name align-middle">@home.Name</div>
                    @if (f.IsEligible)
                    {
                        <div class="col-2">
                            <a class="d-flex justify-content-center" asp-action="LineUp" asp-route-homeId=@home.Id asp-route-awayId=@away.Id asp-route-id=@Model.Id>
                                <button class="play-button">Play</button>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-2 text-center vs align-middle" style="padding-bottom: 0.8rem">VS</div>
                    }
                    <div class="col-3 text-center team-name align-middle">@away.Name</div>
                    <div class="col-2 d-flex justify-content-end">
                        <div class="logo-wrapper">
                            <img src=@away.LogoUrl />
                        </div>
                    </div>
                    <div class="match-line"></div>
                </div>
            }
        }
    </div>

    <div class="row d-flex justify-content-center m-3">
        <img src="~/img/ballMatches.svg" />
    </div>

    <div class="clarify-div text-center">Matches</div>
    <div class="container">
        @foreach (var m in @ViewBag.Matches)
        {
            <a asp-action="MatchFacts" asp-route-matchCode=@m.MatchCode>
                <div class="row match-div listed-match" style="padding-top: 1rem">
                    <div class="col-2 d-flex">
                        <div class="logo-wrapper">
                            <img src=@m.HomeTeamLogo />
                        </div>
                    </div>
                    <div class="col-3 text-center team-name align-middle">@m.HomeTeamName</div>
                    <div class="col-2 text-center team-name" style="color: #008143;">@m.HomeTeamScore - @m.AwayTeamScore</div>
                    <div class="col-3 text-center team-name align-middle">@m.AwayTeamName</div>
                    <div class="col-2 d-flex justify-content-end">
                        <div class="logo-wrapper">
                            <img src=@m.AwayTeamLogo />
                        </div>
                    </div>
                    <div class="match-line"></div>
                </div>
            </a>
        }
    </div>
</div>