@using Core.ViewModels.Player

@{
    IEnumerable<ListPlayerModel> homePlayers = ViewBag.HomePlayers;
    IEnumerable<ListPlayerModel> awayPlayers = ViewBag.AwayPlayers;

    ListPlayerModel[] homeDefenders = homePlayers.Where(p => p.Position == "Defender").ToArray();
    ListPlayerModel[] homeStrikers = homePlayers.Where(p => p.Position == "Striker").ToArray();
    ListPlayerModel[] homeMidfielders = homePlayers.Where(p => p.Position == "Midfielder").ToArray();
    ListPlayerModel[] homeGoalkeepers = homePlayers.Where(p => p.Position == "GoalKeeper").ToArray();

    ListPlayerModel[] awayDefenders = awayPlayers.Where(p => p.Position == "Defender").ToArray();
    ListPlayerModel[] awayStrikers = awayPlayers.Where(p => p.Position == "Striker").ToArray();
    ListPlayerModel[] awayMidfielders = awayPlayers.Where(p => p.Position == "Midfielder").ToArray();
    ListPlayerModel[] awayGoalkeepers = awayPlayers.Where(p => p.Position == "GoalKeeper").ToArray();
}

<div class="row">
    <form asp-action="LineUp">
        <input hiddent name="tournamentId" value=@ViewBag.TournamentId />
        <div class="col home">
            <h2>Home</h2>
            <h3>Keepers</h3>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    @foreach (ListPlayerModel p in homeGoalkeepers)
                    {
                        <h4>@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</h4>
                        <input type="checkbox" class="goalkeeper" name="homeIds" value=@p.Id />
                    }
                </tbody>
            </table>
            <h3>Defenders</h3>
            <table class="table">
                <tbody>
                    @foreach (ListPlayerModel p in homeDefenders)
                    {
                        <h4>@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</h4>
                        <input type="checkbox" class="defender" name="homeIds" value=@p.Id />
                    }
                </tbody>
            </table>
            <h3>Midfielders</h3>
            <table>
                <tbody>
                    @foreach (ListPlayerModel p in homeMidfielders)
                    {
                        <h4>@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</h4>
                        <input type="checkbox" class="midfielder" name="homeIds" value=@p.Id />
                    }
                </tbody>
            </table>
            <table class="table">
                <h3>Strikers</h3>
                <tbody>
                    @foreach (ListPlayerModel p in homeStrikers)
                    {
                        <h4>@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</h4>
                        <input type="checkbox" class="striker" name="homeIds" value=@p.Id />
                    }
                </tbody>
            </table>
        </div>
        @*AWAY TEAM*@
        <div class="col away">
            <h2>Away</h2>
            @*        @foreach (ListPlayerModel p in homePlayers)
                {
                <h4>@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</h4>
                }*@
            <h3>Keepers</h3>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    @foreach (ListPlayerModel p in awayGoalkeepers)
                    {
                        <h4>@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</h4>
                        <input type="checkbox" class="goalkeeper" name="awayIds" value=@p.Id />
                    }
                </tbody>
            </table>
            <h3>Defenders</h3>
            <table class="table">
                <tbody>
                    @foreach (ListPlayerModel p in awayDefenders)
                    {
                        <h4>@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</h4>
                        <input type="checkbox" class="defender" name="awayIds" value=@p.Id />
                    }
                </tbody>
            </table>
            <h3>Midfielders</h3>
            <table>
                <tbody>
                    @foreach (ListPlayerModel p in awayMidfielders)
                    {
                        <h4>@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</h4>
                        <input type="checkbox" class="midfielder" name="awayIds" value=@p.Id />
                    }
                </tbody>
            </table>
            <table class="table">
                <h3>Strikers</h3>
                <tbody>
                    @foreach (ListPlayerModel p in awayStrikers)
                    {
                        <h4>@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</h4>
                        <input type="checkbox" class="striker" name="awayIds" value=@p.Id />
                    }
                </tbody>
            </table>
        </div>
        <button type="submit">Ready</button>
    </form>
</div>

<script type="module" src="~/js/lineup.js"></script>