@using Core.ViewModels.Player

@{
    string tournamentId = ViewBag.TournamentId;
    IEnumerable<ListPlayerModel> homePlayers = ViewBag.HomePlayers;
    IEnumerable<ListPlayerModel> awayPlayers = ViewBag.AwayPlayers;

    ListPlayerModel[] homeDefenders = homePlayers.Where(p => p.Position == "Defender").ToArray();
    ListPlayerModel[] homeStrikers = homePlayers.Where(p => p.Position == "Striker").ToArray();
    ListPlayerModel[] homeMidfielders = homePlayers.Where(p => p.Position == "Midfielder").ToArray();
    ListPlayerModel[] homeGoalkeepers = homePlayers.Where(p => p.Position == "GoalKeeper").ToArray();

    ListPlayerModel[] awayDefenders = awayPlayers.Where(p => p.Position == "Defender").ToArray();
    ListPlayerModel[] awayStrikers = awayPlayers.Where(p => p.Position == "Striker").ToArray();
    ListPlayerModel[] awayMidfielders = awayPlayers.Where(p => p.Position == "Midfielder").ToArray();
    ListPlayerModel[] awayGoalkeepers = awayPlayers.Where(p => p.Position == "GoalKeeper").ToArray();

}

<link rel="stylesheet" href="~/css/lineup.css" asp-append-version="true" />

<div class="container">
    <div class="text-center">
        Each teach should have 11 players total: 1 goalkeeper, at least 2 defenders, at least 3 midfielders and at least 1 striker
    </div>
    <div style="background-color: green; height: 2px"></div>
    <form asp-action="LoadMatch">
        <input hidden name="tournamentId" value=@tournamentId />
        <div class="row d-flex">
            <div class="col home">
                <h2 class="row text-center">Home</h2>
                <h3 class="row text-center">Goalkeepers</h3>
                @foreach (ListPlayerModel p in homeGoalkeepers)
                {
                    <div class="row player-card">
                        <div class="col-5 d-flex flex-column justify-content-center">
                            <img src=@p.ImageUrl />
                        </div>
                        <div class="col-7 d-flex flex-column justify-content-center">
                            <div class="row player-name">@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</div>
                            <div class="row">@p.Position</div>
                            <div class="row">
                                <div class="col justify-content-end">
                                </div>
                                <input class="col goalkeeper" type="checkbox" name="homeIds" value=@p.Id />
                            </div>
                        </div>
                    </div>

                }
                <h3>Defenders</h3>
                @foreach (ListPlayerModel p in homeDefenders)
                {
                    <div class="row player-card">
                        <div class="col-5 d-flex flex-column justify-content-center">
                            <img src=@p.ImageUrl />
                        </div>
                        <div class="col-7 d-flex flex-column justify-content-center">
                            <div class="row player-name">@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</div>
                            <div class="row">@p.Position</div>
                            <div class="row">
                                <div class="col justify-content-end">
                                </div>
                                <input class="col defender" type="checkbox" name="homeIds" value=@p.Id />
                            </div>
                        </div>
                    </div>

                }
                <h3>Midfielders</h3>
                @foreach (ListPlayerModel p in homeMidfielders)
                {
                    <div class="row player-card">
                        <div class="col-5 d-flex flex-column justify-content-center">
                            <img src=@p.ImageUrl />
                        </div>
                        <div class="col-7 d-flex flex-column justify-content-center">
                            <div class="row player-name">@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</div>
                            <div class="row">@p.Position</div>
                            <div class="row">
                                <div class="col justify-content-end">
                                </div>
                                <input class="col midfielder" type="checkbox" name="homeIds" value=@p.Id />
                            </div>
                        </div>
                    </div>

                }
                <h3>Strikers</h3>
                @foreach (ListPlayerModel p in homeStrikers)
                {
                    <div class="row player-card">
                        <div class="col-5 d-flex flex-column justify-content-center">
                            <img src=@p.ImageUrl />
                        </div>
                        <div class="col-7 d-flex flex-column justify-content-center">
                            <div class="row player-name">@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</div>
                            <div class="row">@p.Position</div>
                            <div class="row">
                                <div class="col justify-content-end">
                                </div>
                                <input class="col striker" type="checkbox" name="homeIds" value=@p.Id />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-2 align-middle">
                <button class="button-dark" type="submit" style="margin-top: 1rem; background-color: red;">Play</button>
            </div>
            <div class="col d-flex flex-column away">
                <h2 class="row text-center">Away</h2>
                <h3 class="row text-center">Goalkeepers</h3>
                @foreach (ListPlayerModel p in awayGoalkeepers)
                {
                    <div class="row player-card">
                        <div class="col-5 d-flex flex-column justify-content-center">
                            <img src=@p.ImageUrl />
                        </div>
                        <div class="col-7 d-flex flex-column justify-content-center">
                            <div class="row player-name">@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</div>
                            <div class="row">@p.Position</div>
                            <div class="row">
                                <div class="col justify-content-end">
                                </div>
                                <input class="col goalkeeper" type="checkbox" name="awayIds" value=@p.Id />
                            </div>
                        </div>
                    </div>

                }
                <h3>Defenders</h3>
                @foreach (ListPlayerModel p in awayDefenders)
                {
                    <div class="row player-card">
                        <div class="col-5 d-flex flex-column justify-content-center">
                            <img src=@p.ImageUrl />
                        </div>
                        <div class="col-7 d-flex flex-column justify-content-center">
                            <div class="row player-name">@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</div>
                            <div class="row">@p.Position</div>
                            <div class="row">
                                <div class="col justify-content-end">
                                </div>
                                <input class="col defender" type="checkbox" name="awayIds" value=@p.Id />
                            </div>
                        </div>
                    </div>

                }
                <h3>Midfielders</h3>
                @foreach (ListPlayerModel p in awayMidfielders)
                {
                    <div class="row player-card">
                        <div class="col-5 d-flex flex-column justify-content-center">
                            <img src=@p.ImageUrl />
                        </div>
                        <div class="col-7 d-flex flex-column justify-content-center">
                            <div class="row player-name">@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</div>
                            <div class="row">@p.Position</div>
                            <div class="row">
                                <div class="col justify-content-end">
                                </div>
                                <input class="col midfielder" type="checkbox" name="awayIds" value=@p.Id />
                            </div>
                        </div>
                    </div>

                }
                <h3>Strikers</h3>
                @foreach (ListPlayerModel p in awayStrikers)
                {
                    <div class="row player-card">
                        <div class="col-5 d-flex flex-column justify-content-center">
                            <img src=@p.ImageUrl />
                        </div>
                        <div class="col-7 d-flex flex-column justify-content-center">
                            <div class="row player-name">@($"{p.FirstName.Substring(0, 1)}"). @p.LastName</div>
                            <div class="row">@p.Position</div>
                            <div class="row">
                                <div class="col justify-content-end">
                                </div>
                                <input class="col striker" type="checkbox" name="awayIds" value=@p.Id />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </form>
</div>

<script type="module" src="~/js/lineup.js"></script>