@using Core.ViewModels.Match
@using Core.ViewModels.Player
@using Core.ViewModels.Team
@model LoadedMatchModel

@{
    ViewData["Title"] = "Match";


}

<div id="match-div" class="row w-50">
    <h1>Match</h1>
    <div id="home-team" class="col row">
        <img src=@Model.HomeTeam.LogoUrl class="col" />
        <h2 class="col">@Model.HomeTeam.Name</h2>
    </div>
    <div id="result-div" class="col row">
        <h1 id="home-goals" class="col">0</h1>
        <h1 class="col">-</h1>
        <h1 id="away-goals" class="col">0</h1>
    </div>
    <div id="away-team" class="col row">
        <img src=@Model.AwayTeam.LogoUrl class="col" />
        <h2 class="col">@Model.AwayTeam.Name</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <div>
            @foreach (ListPlayerModel p in Model.HomePlayers)
            {
                <div class="player-card">
                    <img src=@p.ImageUrl style="width: 40px" />
                    <h3>@p.LastName</h3>
                    <input hidden name="Goals" />
                    <input hidden name="Assists" />
                    <input hidden name="Passes" />
                    <input hidden name="Tackles" />
                    <input hidden name="Fouls" />
                    <input hidden name="Saves" />
                </div>
            }
        </div>
    </div>
    <div class="col">
        <div>
            <h2>@Model.AwayTeam.Name</h2>
            @foreach (ListPlayerModel p in Model.AwayPlayers)
            {
                <div class="player-card">
                    <img src=@p.ImageUrl style="width: 40px" />
                    <h3>@p.LastName</h3>
                </div>
            }
        </div>
    </div>
</div>

<div hidden class="modal-container">
    <div id="modal" class="modal">
        <button id="close">X</button>
        <div class="modal-upper row">
            <img class="col" style="width: 60%;" src="https://i.pinimg.com/originals/d1/f0/48/d1f048827f146b322fba300b6529fb79.jpg" />
            <h3 class="col" style="width: 40%">Name</h3>
        </div>
        <div id="goals" class="row">
            <span class="col text-center" style="color: red">-</span>
            <h4 class="col text-center">Goals</h4>
            <span class="col text-center" style="color: green">+</span>
        </div>
        <div id="assists" class="row">
            <span class="col text-center" style="color: red">-</span>
            <h4 class="col text-center">Assists</h4>
            <span class="col text-center" style="color: green">+</span>
        </div>
        <div id="passes" class="row">
            <span class="col text-center" style="color: red">-</span>
            <h4 class="col text-center">Passes</h4>
            <span class="col text-center" style="color: green">+</span>
        </div>
        <div id="tackles" class="row">
            <span class="col text-center" style="color: red">-</span>
            <h4 class="col text-center">Tackles</h4>
            <span class="col text-center" style="color: green">+</span>
        </div>
        <div id="fouls" class="row">
            <span class="col text-center" style="color: red">-</span>
            <h4 class="col text-center">Fouls</h4>
            <span class="col text-center" style="color: green">+</span>
        </div>
        <div id="saves" class="row">
            <span class="col text-center" style="color: red">-</span>
            <h4 class="col text-center">Saves</h4>
            <span class="col text-center" style="color: green">+</span>
        </div>
    </div>
</div>

<script type="module" src="~/js/match.js"></script>