@using Core.ViewModels.Player
@model PlayerDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <img src=@Model.ImageUrl />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredFoot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreferredFoot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fans)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goals)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goals)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tackles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tackles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saves)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Saves)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fouls)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fouls)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
